@using Little_Beauty_2._0.Models;
@{
    ViewBag.Title = "prodCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content text-center">
    <h2>@ViewBag.Catego</h2>

    <div class="container text-center ">
        <div class="col-xs-12 col-md-9 text-center">
            <div class="row text-center">
                @foreach (Productos item in ViewBag.productos)
                {
                    <div class="col-xs-12 col-md-3">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Content/img/@item.imagen"/>
                            <div class=" caption text-center">
                                <p>
                                    <b>Nombre: </b><span>@item.nombre_producto</span>
                                </p>
                                <p>
                                    <b>Precio: </b><span>@item.precio_venta</span>
                                </p>
                                <p class="text-center">
                                    @Html.ActionLink("Añadir al carrito", "Agregar", "Carro", new { id = item.id_producto },  new { @class = "btn btn-default", style = "background-color:pink"})
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>